{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["classNames"],
  "semi": true,
  "singleQuote": false,
  "printWidth": 120,
  "tabWidth": 2,
  "trailingComma": "es5",
  "endOfLine": "auto"
}
