@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.clip-polygon {
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    100% 90%,
    7% 90%,
    0 100%,
    0% 75%
  );
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  body:has(#mobileMenu:checked) {
    @apply overflow-hidden md:overflow-auto;
  }

  .navbar-list {
    @apply absolute left-0 top-12 z-10 h-[calc(100vh-48px)] w-screen overflow-scroll md:static md:h-fit md:w-fit;
  }
  .navbar-list li {
    @apply border-b font-semibold text-[#0F514E] hover:cursor-pointer hover:bg-[#98E4DA] md:border-0 md:hover:bg-transparent;
  }
  .resgitration.resgitration {
    @apply bg-[#40E0D0] hover:bg-[#40E0D0] md:px-10;
  }
  .resgitration.resgitration a {
    @apply hover:border-0;
  }
  .navbar-list a {
    @apply block px-3 py-[14px] md:px-1 md:py-4 md:hover:border-b-2 md:hover:border-[#FE4710] md:hover:pb-[14px];
  }

  .navbar:has(#mobileMenu:checked) .navbar-list {
    @apply block md:flex;
  }
  .navbar:has(#mobileMenu:checked) .menuClose,
  .navbar-login:has(#userMenu:checked) .submenuClose {
    @apply block md:hidden;
  }
  .navbar:has(#mobileMenu:checked) .menuOpen,
  .navbar-login:has(#userMenu:checked) .submenuOpen {
    @apply hidden;
  }
  .navbar:has(#mobileMenu:checked) .hamburger label {
    @apply bg-[#D6F4F0];
  }
  .navbar-login:has(#userMenu:checked) .usermenu {
    @apply block;
  }
  .navbar-login ul li a {
    @apply flex items-center px-5 md:justify-start md:hover:border-0 md:hover:bg-[#98E4DA] md:hover:pb-4;
  }
  .navbar-login ul li svg {
    @apply mr-2 h-5 w-5;
  }
  .navbar-login ul li:first-child {
    @apply md:border-b md:border-[#E4E4E7];
  }
  .navbar-login ul li:last-child {
    @apply md:border-t md:border-[#E4E4E7];
  }
  .navbar-login .usermenu {
    @apply md:absolute md:right-0 md:top-[72px] md:w-[145px] md:overflow-hidden md:rounded-lg md:border md:border-[#E4E4E7] md:text-center;
  }
  .icon-notification.icon-notification {
    @apply hidden md:mr-10 md:block;
  }
  .icon-notification svg {
    @apply h-6 w-6;
  }
  .social-media svg {
    @apply h-6 w-6;
  }
  .sitemap {
    @apply flex w-full justify-between text-sm text-white;
  }
  .sitemap ul > li:first-child {
    @apply font-bold;
  }
  .sitemap ul li {
    @apply mb-4;
  }
}
